@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li, a {
        font-family: 'Aclonica', sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Aclonica', sans-serif;
        
    }  
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }
    button {
        font-family: 'Aclonica', sans-serif;
    }
    hr{
        border-color: theme('colors.primary');
    }
    img{
        object-fit: cover;
        overflow: hidden;
    }
}
/*
color: theme('colors.primary');
*/