@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    
    li, a {
        font-family: 'Aclonica', sans-serif;
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Aclonica', sans-serif;
        
    }  
    p {
        font-family: 'Nunito Sans', sans-serif;
        font-weight: bold;
    }
    button {
        font-family: 'Aclonica', sans-serif;
    }
    hr{
        border-color: theme('colors.primary');
    }
    img{
        object-fit: cover;
        overflow: hidden;
    }
    .image-with-shadow {
        filter: drop-shadow(0 4px 3px rgba(0,0,0,0.5)) 
                drop-shadow(0 2px 2px rgba(0,0,0,0.4));
    }
    
}
/*
color: theme('colors.primary');
*/