---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Section1 from '../components/Section1.astro';
import Services from '../components/Services.astro';
import Experience from '../components/Experience.astro';
import Team from '../components/Team.astro';
import About from '../components/About.astro';
import VideoSection from '../components/VideoSection.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Section1 />
		<Services />
		<Experience />
		<Team />
		<About />
		<VideoSection />
	</main>
</Layout>

<style>
	
</style>
