---
import Button from '../components/Button.astro'
---

<div class="w-full h-full flex items-center justify-center bg-neutral py-8">
    <div class=" w-full max-w-4xl px-4sm:px-6 mx-4 lg:px-4">
        <div class="flex flex-col-2">
            <div class="text-center w-1/2">
                <h1 class="text-3xl font-bold text-secondary">Nuestro Equipo</h1>
                <p class="mt-3 max-w-2xl mx-auto text-xl text-secondary sm:mt-4">
                Conoce al equipo que hace posible todo nuestro trabajo.
                </p>
            </div>

            <div class="text-center mt-4 w-1/2">
                <Button text="action"/>
            </div>
        </div>

        <div class="mt-8 text-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-2 gap-4">
                <div class="card w-96 shadow-xl bg-primary mx-auto ">
                    <figure class="mt-4">
                        <img class=" ml-4 rounded-lg w-1/2" src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"/>
                        <div class="text-center flex flex-col items-center w-1/2">
                            <div class="rating color-secondary ">
                                <div class="rating mb-2">
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" checked />
                                  </div>
                            </div>
                            <h2 class="card-title">Shoes!</h2>
                            <p class="text-secondary">If a dog chews</p>
                        </div>
                    </figure>
                    <div class="card-body">
                        <p class="text-secondary">If a dog chews shoes whose shoes does he choose? If a dog chews shoes whose shoes does he choose?</p>
                    </div>
                </div>
                <div class="card w-96 shadow-xl bg-primary mx-auto ">
                    <figure class="mt-4">
                        <img class=" ml-4 rounded-lg w-1/2" src="https://daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.jpg"/>
                        <div class="text-center flex flex-col items-center w-1/2">
                            <div class="rating color-secondary ">
                                <div class="rating mb-2">
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" />
                                    <input type="radio" name="rating-2" class="mask mask-star-2 bg-accent" checked />
                                  </div>
                            </div>
                            <h2 class="card-title">Shoes!</h2>
                            <p class="text-secondary">If a dog chews</p>
                        </div>
                    </figure>
                    <div class="card-body">
                        <p class="text-secondary">If a dog chews shoes whose shoes does he choose? If a dog chews shoes whose shoes does he choose?</p>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</div>
