---
import Button from '../components/Button.astro'
import { getI18N } from '../i18n';
const { currentLocale} = Astro
const i18n = getI18N({currentLocale});
---

<div class="w-full flex items-center justify-center bg-neutral py-24">
    <div class="grid md:grid-cols-2 gap-8 mx-4 w-full max-w-4xl">
        <div class="flex flex-col items-center justify-between space-y-4 h-full">
            <div class="text-center space-y-4">
                <h2 class="text-xl font-bold font-aclonica text-primary">{i18n.EXPERIENCE.TITLE}</h2>
                <p class="text-secondary">{i18n.EXPERIENCE.TEXT}</p>
                <Button text={i18n.EXPERIENCE.CTA_BUTTON_TEXT} />
            </div>
            <img src="/images/experience1.jpg" alt="Descripci贸n de la imagen" class="rounded-lg shadow-md w-full h-80 ">
        </div>

        <div class="flex flex-col items-center justify-between h-full">
            <div class="grid grid-cols-2 gap-4 w-full h-56">
                <img src="/images/experience2.jpeg" alt="Descripci贸n de la imagen" class="w-full h-full  rounded-lg">
                <img src="/images/experience3.jpeg" alt="Descripci贸n de la imagen" class="w-full h-full  rounded-lg">
            </div>
            <img src="/images/experience4.jpg" alt="Descripci贸n de la imagen" class="rounded-lg shadow-md w-full h-56 ">
        </div>
    </div>
</div>
