---
import Button from "./Button.astro"
---


<div class="w-full flex items-center justify-center bg-neutral py-24">
  <div class="grid md:grid-cols-2 gap-8 mx-4 w-full max-w-4xl">
    
    <div>
      
      <div class="flex flex-row gap-8 mb-6 justify-center overflow-hidden">
        <img src="https://images.pexels.com/photos/1805600/pexels-photo-1805600.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Descripción de la imagen" class="w-48 h-48 md:w-56 md:h-56  rounded-lg ">
        <img src="https://images.pexels.com/photos/1319461/pexels-photo-1319461.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Descripción de la imagen" class="w-48 h-48 md:w-56 md:h-56  rounded-lg">
      </div>
      <div class="text-center mx-10 text-secondary">
        
        <h2 class="text-2xl font-bold mb-4 font-aclonica">Título Aquí</h2>
        
        <p class="mb-4 font-nunito-sans">Texto descriptivo aquí. Este es un párrafo que describe el contenido de la sección o proporciona información adicional.</p>
        
        <Button text="More About Us" />
      </div>
    </div>

    
    <div class="flex flex-col gap-4">
      
      <img src="https://images.pexels.com/photos/2068672/pexels-photo-2068672.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Descripción de la imagen" class="w-full h-80  rounded-lg shadow-lg mb-6">
      
      <div class="flex gap-2 text-center font-aclonica">
        <div class="w-1/2 text-center">
          <h3 class="text-xl font-semibold mb-4 text-primary">12+</h3>
          <h5 class="text-secondary">Years Experience</h5>
        </div>
      
        <div class="w-1/2 text-center">
          <h3 class="text-xl font-semibold mb-4 text-primary">99%</h3>
          <h5 class="text-secondary">Customer Satisfaction</h5>
        </div>
      </div>
    </div>
  </div>
</div>
