---

---

<div class="w-full flex items-center justify-center bg-primary py-24">
    <div class=" w-full max-w-4xl px-4sm:px-6 mx-4 lg:px-4">
        <div class="text-center">
            <h1 class="text-3xl font-bold text-secondary">Nuestro Equipo</h1>
            <p class="mt-3 max-w-2xl mx-auto text-xl text-secondary sm:mt-4">
                Conoce al equipo que hace posible todo nuestro trabajo.
            </p>
        </div>

        <div class="mt-10 text-center">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8">
                
                <div class="card card-compact w-full bg-neutral shadow-xl">
                    <figure><img class="h-60 w-full" src="https://images.pexels.com/photos/3998430/pexels-photo-3998430.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title mx-auto text-primary">Nombre</h2>
                        <h5 class="text-secondary">Rol o descripci贸n.</h5>
                    </div>
                </div>
                <div class="card card-compact w-full bg-neutral shadow-xl">
                    <figure><img class="h-60 w-full" src="https://images.pexels.com/photos/897265/pexels-photo-897265.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title text-primary mx-auto">Nombre</h2>
                        <h5 class="text-secondary">Rol o descripci贸n.</h5>
                    </div>
                </div>
                <div class="card card-compact w-full bg-neutral shadow-xl">
                    <figure><img class="h-60 w-full" src="https://images.pexels.com/photos/331989/pexels-photo-331989.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title text-primary mx-auto">Nombre</h2>
                        <h5 class="text-secondary">Rol o descripci贸n.</h5>
                    </div>
                </div>
                <div class="card card-compact w-full bg-neutral shadow-xl">
                    <figure><img class="h-60 w-full" src="https://images.pexels.com/photos/1836983/pexels-photo-1836983.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Shoes" /></figure>
                    <div class="card-body">
                        <h2 class="card-title text-primary mx-auto">Nombre</h2>
                        <h5 class="text-secondary">Rol o descripci贸n.</h5>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>
