---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import { getLangFromUrl } from "../i18n/utils";

import '../styles/global.css';
interface Props {
  description: string
  title: string
}
const { description, title } = Astro.props
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} data-theme="mytheme">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

		

		<title>{title}</title>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

